body {
    font-family: "Bitter", serif;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    color: #9fd3c7;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
    background: #ffcbcb;
    border-radius: 20px;
}

.weather-app {
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-tempereature strong {
    color: #9fd3c7;
    font-size: 64px;
    line-height: 1;
    font-weight: 900;
}

.weather-tempereature small {
    text-align: center;
}

weather-temperature.units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

weather-temperature.active {
    color: white;
    cursor: default;
}

weather-temperature.active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.weather-forecast-date {
    font-size: 16px;
    color: #9fd3c7;
    font-weight: 900;
}

.weather-forecast-temperature-minimum {
    color: white;
}

.weather-forecast-temperature-maximum {
    font-size: 13px;
}